<div class="container">
  <div class="row my-2">
      <div class="col-8 pl-0 form-inline">
          <label class="mr-3">Raha: </label> <span class="font-weight-bold text-info">{{money | currency: 'EUR'}}</span>
          <label class="mx-3">Panos:</label> <span class="font-weight-bold text-primary">{{betSize | currency: 'EUR'}}</span>
          <label class="mx-3">Pelaaja: </label> <input class=" form-control" type="text" [(ngModel)]="userScore.user" (ngModelChange)="restart()">
      </div>
  </div>
  <div class="row lottery-grid" *ngIf="userScore.user">
    <div class="col-8 bg-dark border rounded py-2">
        <game-board [lotteryMap]="lotteryMap" [drawnNumbers]="drawnNumbers" [selectedNumbers]="selectedNumbers" (selectNumber)="toggleSelectedNumber($event)"></game-board>
    </div>
    <div class="col-3" *ngIf="selectedNumbers.length > 1">
      <table class="table table-dark">
        <thead class="thead-light">
          <tr class="text-center">
            <th>Osumia</th>
            <th class="">Voitto</th>        
          </tr>
        </thead>
        <tbody *ngFor="let number of getWinRatiosPerHit(selectedNumbers.length)?.winRatio; let i = index">
          <tr class="text-center">        
            <td>{{selectedNumbers.length - i}}</td>
            <td>{{number*betSize | number:'1.0-1' | currency: 'EUR'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert" *ngIf="winSize > 0">
        <div>
          Voitit {{winSize | currency: 'EUR'}}
        </div>
      </div>
      <div class="mt-2 alert alert-primary alert-dismissible fade show" role="alert" *ngIf="money === 0 && !drawing">
        <div>
          Hävisit pelin!
        </div>
        <button type="button" class="btn btn-info" data-dismiss="alert" aria-label="Close" (click)="restart()">
          Aloita alusta
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngIf="userScore.user">
    <div class="col-2 pl-0">
        <button class="btn btn-lg btn-danger" (click)="clearSelections()" [disabled]="drawing">Peruuta</button>
    </div>
    <div class="col-2">
        <button class="btn btn-lg btn-primary" (click)="raiseBet()" [disabled]="drawing">Panos</button>
    </div>
    <div class="col-4 pr-0">
      <div class="float-right">
        <button class="btn btn-lg btn-warning mr-2" (click)="saveResults()" [disabled]="drawing || money <= 5">Ota voitot</button>
        <button class="btn btn-lg btn-success" (click)="drawNumbers()" [disabled]="selectedNumbers.length < 2 || drawing || betSize.toFixed(2) > money.toFixed(2) || money <= 0">Pelaa</button>
      </div>
    </div>
  </div>
  <hr class="px-0">
  <div class="row">
    <h3 class="font-weight-light mt-4">Huipputulokset</h3>
    <table class="table table-dark mt-4" *ngIf="highscores && highscores.length">
        <thead class="thead-light">
          <tr class="text-center">
            <th>Pelaaja</th>
            <th class="">Voittosumma</th>        
          </tr>
        </thead>
        <tbody *ngFor="let userscore of highscores; let i = index">
          <tr class="text-center">        
            <td>{{userscore.user}}</td>
            <td>{{userscore.score | currency: 'EUR'}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
